img {
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 30%;
    object-fit: cover;
    margin: 20px;
}

.ui.horizontal.segments {
    
    justify-content: left;
    align-items: left;
    margin: 10px;
    padding: 10px;
    max-height: 500px;
}

.plant-item {
  width: 300px;
}

.ui.centered.grid {
    margin: 10px;
    padding: 10px;
}

.ui.centered.header {
    margin: 10px;
    padding: 10px;
    background-color: rgb(3, 184, 3);
}

.ui.icon.button {
    height: 75px;
    width: 75px;
    margin: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(202, 202, 202);
    border: 3px solid rgba(248, 2, 2, 0);
  border-radius: 100%;
}

.ui.button {
    height: 75px;
    width: 75px;
    margin: 10px;
    padding: 4px;
    color: rgb(0, 0, 0);
    background-color: rgb(230, 227, 227);
    border: 3px solid rgb(0, 0, 0);
}

.home {
    width:50%;
    justify-content: right;
    align-items: right;
}

.header {
    font-size: x-large;
    margin: 5px;
}

.item {
    font-size: medium;
    margin: 15px;
}

.navbar {
    height: 75px;
}

.ui.inverted.button {
    width: 100px;
    background-color: green;
}

.ui.card {
    margin: 0px;
    padding: 2px;
    width: 20%;
    border: 5px solid rgb(15, 121, 29);
}

.ui.comments {
    padding: 8px;
    
    background-color: #ccccff;
}

.ui.heart.button {
    background-color: white;
    color: red;
}

.ui.form {
    width: 15%;
}

.ui.search {
    display: flex;
    justify-content: center;
    margin: 10px;
    height: 50px;
}

.ui.centered.text.container {
    display: block;
    justify-content: center;
}